.hero {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.hero img {
    width: 100%;
    height: 100%;
}

.arrow {
    height: 2rem;
    width: 2rem;
    color: #AAB7B8;
    filter: drop-shadow(0px 0px 5px #555);
    position: absolute;
}

.left-arrow {
    left: 1rem;
}

.right-arrow {
    right: 1rem;
}