.hero {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.current__image {
    width: 100%;
    height: 100%;
}

.hide__me {
    display: none;
}

.arrow {
    height: 2rem;
    width: 2rem;
    color: #AAB7B8;
    filter: drop-shadow(0px 0px 5px #555);
    position: absolute;
}

.left-arrow {
    left: 1rem;
}

.right-arrow {
    right: 1rem;
}

.indicator-container {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 1rem;
}

.indicators {
    width: 13px;
    height: 13px;
    border: none;
    color: #AAB7B8;
    border-radius: 50%;
    cursor: pointer;
}